/* *{
    outline: 1px solid red;
} */

body{
    background-size: cover;
    /* background-attachment:fixed; */
    background-repeat: no-repeat;
    overflow: hidden;
    color: white;
}

.top-row {
    display: flex;
    justify-content: flex-end; 
}

.middle-row {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-display{
    font-family: 'Open Sans', sans-serif;
    font-size: 10rem;
    /* text-shadow: 0px 0px 1px 5px black; */
    text-align: center;
}

#name-display {
    font-family: 'Open Sans', sans-serif;
    font-size: 5rem;
    text-align: center;
}

.name-input-control {
    background: transparent;
    color: white;
    border: none;
}

.name-input-control::placeholder{
    color: white;
}


.bottom-row {
    height: auto;
    display: flex;
    align-items: flex-end;
}

.quote {
    text-align: center;
}

.show-complete-button{
    text-align: center;
    margin: 0px 40px;
}

.todo-form-wrapper {
    display: flex;
    justify-content: center;
}

.form-style {
    display:flex;
}

.todo-input {
    width: 200px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 0px 8px;
}

.todo-text {
    text-align: center;
}

.pane {
    max-width: 400px;
    background: rgba(15,15,15,.925);
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    text-shadow: none;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    
}

.todo-pane {
    text-align: left;
    -webkit-transition: all .2s ease-out;
    overflow-y: hidden;
}

.no-bullets{
    list-style: none;
    padding: 0;
}

.toggle-icon {
    font-size: 2rem;
}

.delete-icon {
    font-size: 2rem;
    color:#E76067;
    text-align: right;
}